.contact-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
	margin-top: 24pt;
	margin-bottom: 48pt;
    align-items: center;
    justify-content: center;
    align-self: center;
	font-size: 18pt;
}

.contact {
	margin-top: 12pt;
	margin-bottom: 12pt;
	font-size: 20pt;
	color: #98C379;
}

